{{#each wines}}
<div style="margin-top:20px;">
	{{name}}
</div>

<div style="margin-top:20px;">
	{{year}}
</div>

<div style="margin-top:20px;">
	{{grapes}}
</div>

<div style="margin-top:20px;">
	{{country}}
</div>

<div style="margin-top:20px;">
	{{region}}
</div>

<div style="margin-top:20px;">
	{{description}}
</div>

<div style="margin-top:20px;">
	<img src="{{picture}}" />
</div>

<div style="margin-top:20px;">
	{{price}}
</div>

<div style="margin-top:20px;">
	{{name}}
</div>

{{/each}}